@{
    ViewBag.Title = "_footer";
}

<footer>
<section class="footer-one">
<div class="container">
<div class="row">
<div class="col-lg-4 col-sm-4">
<div class="footerbox">
<h3>Career</h3>
<strong class="sub-head">Position: Fashion Designer</strong>
<p style="color:black">Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at loborti a iaculis nulla turpis sed wisi. Fusce volutpat. Etiam sodales ante id nunc. Proin ornare dignissim lacus. Nunc porttitor nunc a sem. Sed sollicitudin velit</p>
<strong>Send your CV to:</strong><br>
<a href="#"><span class="__cf_email__" data-cfemail="a5c6c4d7c0c0d7e5f5c4d7c4d68bc6cac8">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function (t, e, r, n, c, a, p) { try { t = document.currentScript || function () { for (t = document.getElementsByTagName('script'), e = t.length; e--;) if (t[e].getAttribute('data-cfhash')) return t[e] }(); if (t && (c = t.previousSibling)) { p = t.parentNode; if (a = c.getAttribute('data-cfemail')) { for (e = '', r = '0x' + a.substr(0, 2) | 0, n = 2; a.length - n; n += 2) e += '%' + ('0' + ('0x' + a.substr(n, 2) ^ r).toString(16)).slice(-2); p.replaceChild(document.createTextNode(decodeURIComponent(e)), c) } p.removeChild(t) } } catch (u) { } }()/* ]]> */</script> </a></div>
</div>
<div class="col-lg-4 col-sm-4"> <a href="blog.html" class="blogbtn">Visit Our Blog</a> </div>
<div class="col-lg-4 col-sm-4">
<div class="footerbox">
<h3>Testimonials</h3>
<ul class="testim-slider">
<li>
<p style ="color:black">Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Aliquam aliquet, est a ullamcorper condimentum, tellus nulla fringilla elit, a iaculis nulla turpis sed wisi. </pstyle>
<strong class="author-name">Paul simon Jonathan<br>
General Manager, Paras Software House</strong> </li>
<li>
 <p style="color:black">Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Aliquam aliquet, est a ullamcorper condimentum, tellus nulla fringilla elit, a iaculis nulla turpis sed wisi. </p>
<strong class="author-name">Paul simon Jonathan<br>
General Manager, Paras Software House</strong> </li>
<li>
    <p style="color:black">Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Aliquam aliquet, est a ullamcorper condimentum, tellus nulla fringilla elit, a iaculis nulla turpis sed wisi. </p>
<strong class="author-name">Paul simon Jonathan<br>
General Manager, Paras Software House</strong> </li>
</ul>
</div>
</div>
</div>
</div>
</section>
<section class="footer-two">
<div class="container">
<div class="row">
<div class="col-lg-4 col-sm-4">
<div class="footerbox">
<h4>Get in Touch <span>Say Hello!</span> </h4>
    <form role="form" method="post" action="/Login/artical">
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Enter Name" required>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Enter Email" required>
        </div>
        <div class="form-group">
            <textarea name="text" class="form-control"  rows="4" placeholder="Message" required></textarea>
        </div>
        <button type="submit" class="btn btn-default">send it</button>
    </form>
</div>
</div>
<div class="col-lg-4 col-sm-4">
<div class="footerbox">
<h4>Fashion Articles <span>Donec a purus nec . Lorem ipsum </span> </h4>
<ul class="fslider">
<li><img src="~/images/fslider1.png" alt=""></li>
<li><img src="~/images/fslider2.png" alt=""></li>
<li><img src="~/images/fslider3.png" alt=""></li>
</ul>
</div>
</div>
<div class="col-lg-4 col-sm-4">
<div class="footerbox">
<h4>Text Widget <span>Lorem ipsum dolor sit amet, </span> </h4>
    <p style="color:black">
        Maecenas laoreet lectus est, eget ultricies eros. Aliquam ipsum fringilla.Maecenas laoreet eget ultricies Aliquam ipsum tincidunt non Maecenas laoreet tincidunt non fringilla.
        Maecenas laoreet ....
    </p>
<img src="~/images/cards.png" alt=""> </div>
</div>
</div>
</div>
<div class="footer-curve"></div>
</section>
<section class="footer-three">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="footer-box">
<h4>Contact Us</h4>
<ul>
<li><i class="fa fa-location-arrow"></i> 123 Abington Street City of Westminster, London United Kingdom · </li>
<li><i class="fa fa-phone"></i> T : 0845 012 3456</li>
<li><i class="fa fa-envelope"></i> <a class="__cf_email__" href="http://html.crunchpress.com/cdn-cgi/l/email-protection" data-cfemail="107950697f6562737f7d60717e693e737f7d">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function (t, e, r, n, c, a, p) { try { t = document.currentScript || function () { for (t = document.getElementsByTagName('script'), e = t.length; e--;) if (t[e].getAttribute('data-cfhash')) return t[e] }(); if (t && (c = t.previousSibling)) { p = t.parentNode; if (a = c.getAttribute('data-cfemail')) { for (e = '', r = '0x' + a.substr(0, 2) | 0, n = 2; a.length - n; n += 2) e += '%' + ('0' + ('0x' + a.substr(n, 2) ^ r).toString(16)).slice(-2); p.replaceChild(document.createTextNode(decodeURIComponent(e)), c) } p.removeChild(t) } } catch (u) { } }()/* ]]> */</script></li>
</ul>
</div>
</div>
<div class="col-lg-4">
<div class="footer-social"> <strong>Stay Contected</strong>
<ul>
<li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
<li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
<li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
<li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
<li><a href="#"> <i class="fa fa-skype"></i> </a></li>
</ul>
</div>
</div>
</div>
</div>
</section>
<section class="footer-four">
<div class="container">
<div class="row">
<div class="col-lg-6">Copyright © 2012 All rights reserved Designed by <a href="http://crunchpress.com/" target="_blank">CrunchPress.com</a></div>
<div class="col-lg-6">
<div class="footer-links"> <a href="#">Home</a> | <a href="#">Portfolio</a> | <a href="#">Products</a> | <a href="#">About Us</a> | <a href="#">Expertise</a></div>
</div>
</div>
</div>
</section>
</footer>
