@{
    ViewBag.Title = "index";
}

<!doctype html>
<html lang="en" dir="ltr" class="no-js">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fashion Theme Responsive">
<meta name="keywords" content="Fashion, HTML5 Theme,CSS3 Animation,JavaScript, Crunch Press">
<meta name="author" content="Crunch Press">
<link rel="shortcut icon" href="images/fashopn.html">
<title>Fashion Theme Responsive</title>
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/color.css" rel="stylesheet">
<link href="~/css/bootstrap.css" rel="stylesheet">
<link href="~/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/jquery.bxslider.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
 
<div class="wrapper">
 
@Html.Partial("_header")
 
<section class="main-slider">
<div class="slider">
<ul class="mslider">
<li><img src="images/slider1.jpg" alt="Fashion Responsive"/>
<div class="slide-info">
<div class="left">
<h3>Latest<span> Fashion</span></h3>
<p>Lorem ipsum dolor etur adipiscing elit.</p>
</div>
<div class="right">
<h4>Lorem ipsum dolor sit amet</h4>
<span class="date">June.30</span>
<p>lorem Nunc consectetur, nisl non pulvinar blandit, lorem orci egestas quam, ac egestas nibh mauris vel lectus. Morbi vulputate ...</p>
</div>
</div>
</li>
<li><img src="~/images/slider2.jpg" alt="Fashion Responsive" />
<div class="slide-info">
<div class="left">
<h3>Latest<span> Fashion</span></h3>
<p>Lorem ipsum dolor etur adipiscing elit.</p>
</div>
<div class="right">
<h4>Lorem ipsum dolor sit amet</h4>
<span class="date">June.30</span>
<p>lorem Nunc consectetur, nisl non pulvinar blandit, lorem orci egestas quam, ac egestas nibh mauris vel lectus. Morbi vulputate ...</p>
</div>
</div>
</li>
<li><img src="~/images/slider3.jpg" alt="Fashion Responsive" />
<div class="slide-info">
<div class="left">
<h3>Hi,<span>John</span></h3>
<p>2 Lorem ipsum dolor etur adipiscing elit.</p>
</div>
<div class="right">
<h4>Lorem ipsum dolor sit amet</h4>
<span class="date">June.30</span>
<p>lorem Nunc consectetur, nisl non pulvinar blandit, lorem orci egestas quam, ac egestas nibh mauris vel lectus. Morbi </p>
</div>
</div>
</li>
</ul>
<div class="difference">
<h3>Clear <br>
<span>Difference</span> in <br>
Quality</h3>
</div>
</div>
<div class="main-slider-curve curve-img"></div>
</section>
 
 
<section class="welcome-section">
<div class="container">
<div class="row">
<div class="col-lg-6">
<h1>Welcome to <br>
Our Store</h1>
<p> <strong>Contrary to popular belief, Lorem Ipsum is not simply random text.</strong></p>
<p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Rn-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetu.
consectetur…</p>
</div>
<div class="col-lg-6"><img src="~/images/wcpic.png" alt="Fashion Theme"></div>
</div>
</div>
</section>
 
 
<section class="pro-slider">
<div class="pro-bx-slider">
<div class="slider-readmore"> <strong>See More Photos.</strong> <a href="#">Click Here...</a> </div>
<div class="pro-slider-wrap">
<ul class="pbxslider gallery">
<li>
<div class="pro-holder2"> <img src="~/images/hs-pro1.png" alt="" />
<div class="pro-overlay"></div>
<div class="pro-icon"> <span><a href="images/pro-large.jpg" data-rel="prettyPhoto[gallery1]"><i class="fa fa-search"></i></a> </span> <span><a href="#"><i class="fa fa-link"></i></a> </span> </div>
</div>
</li>
<li>
<div class="pro-holder2"> <img src="~/images/hs-pro2.png" alt="" />
<div class="pro-overlay"></div>
<div class="pro-icon"> <span><a href="images/pro-large.jpg" data-rel="prettyPhoto[gallery1]"><i class="fa fa-search"></i></a> </span> <span><a href="#"><i class="fa fa-link"></i></a> </span> </div>
</div>
</li>
<li>
<div class="pro-holder2"> <img src="~/images/hs-pro3.png" alt="" />
<div class="pro-overlay"></div>
<div class="pro-icon"> <span><a href="images/pro-large.jpg" data-rel="prettyPhoto[gallery1]"><i class="fa fa-search"></i></a> </span> <span><a href="#"><i class="fa fa-link"></i></a> </span> </div>
</div>
</li>
<li>
<div class="pro-holder2"> <img src="~/images/hs-pro1.png" alt="" />
<div class="pro-overlay"></div>
<div class="pro-icon"> <span><a href="images/pro-large.jpg" data-rel="prettyPhoto[gallery1]"><i class="fa fa-search"></i></a> </span> <span><a href="#"><i class="fa fa-link"></i></a> </span> </div>
</div>
</li>
<li>
<div class="pro-holder2"> <img src="~/images/hs-pro2.png" alt="" />
<div class="pro-overlay"></div>
<div class="pro-icon"> <span><a href="images/pro-large.jpg" data-rel="prettyPhoto[gallery1]"><i class="fa fa-search"></i></a> </span> <span><a href="#"><i class="fa fa-link"></i></a> </span> </div>
</div>
</li>
<li>
<div class="pro-holder2"> <img src="~/images/hs-pro3.png" alt="" />
<div class="pro-overlay"></div>
<div class="pro-icon"> <span><a href="images/pro-large.jpg" data-rel="prettyPhoto[gallery1]"><i class="fa fa-search"></i></a> </span> <span><a href="#"><i class="fa fa-link"></i></a> </span> </div>
</div>
</li>
</ul>
</div>
</div>
</section>
 
 
<section class="new-collection">
<div class="container">
<div class="row">
<div class="col-lg-12 stitle">
<h2>New Collection</h2>
</div>
<div class="col-lg-4 col-sm-4">
<div class="pro-holder">
<div class="sale-tag">On Sale</div>
<img src="images/nc-1.jpg" alt="">
<div class="pro-content">
<h2 class="pro-title">Product Title</h2>
<div class="pro-footer">
<ul>
<li class="addwishlist"><a href="#"><i class="fa fa-heart"></i> Add to Wishlist</a></li>
<li class="addcart"><a href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
</ul>
</div>
</div>
</div>
<div class="pro-holder">
<div class="sale-tag">On Sale</div>
    <img src="~/images/nc-2.jpg" alt="">
<div class="pro-content">
<h2 class="pro-title">Product Title</h2>
<div class="pro-footer">
<ul>
<li class="addwishlist"><a href="#"><i class="fa fa-heart"></i> Add to Wishlist</a></li>
<li class="addcart"><a href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-4">
<div class="pro-holder">
<div class="new-tag">New</div>
    <img src="~/images/nc-3.jpg" alt="">
<div class="pro-content">
<h2 class="pro-title">Product Title</h2>
<div class="pro-footer">
<ul>
<li class="addwishlist"><a href="#"><i class="fa fa-heart"></i> Add to Wishlist</a></li>
<li class="addcart"><a href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
</ul>
</div>
</div>
</div>
<div class="pro-holder">
<div class="new-tag">New</div>
    <img src="~/images/nc-4.jpg" alt="">
<div class="pro-content">
<h2 class="pro-title">Product Title</h2>
<div class="pro-footer">
<ul>
<li class="addwishlist"><a href="#"><i class="fa fa-heart"></i> Add to Wishlist</a></li>
<li class="addcart"><a href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-4">
<div class="pro-holder">
<div class="sale-tag">On Sale</div>
    <img src="~/images/nc-5.jpg" alt="">
<div class="pro-content">
<h2 class="pro-title">Product Title</h2>
<div class="pro-footer">
<ul>
<li class="addwishlist"><a href="#"><i class="fa fa-heart"></i> Add to Wishlist</a></li>
<li class="addcart"><a href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
</ul>
</div>
</div>
</div>
<div class="pro-holder">
<div class="new-tag">New</div>
    <img src="~/images/nc-6.jpg" alt="">
<div class="pro-content">
<h2 class="pro-title">Product Title</h2>
<div class="pro-footer">
<ul>
<li class="addwishlist"><a href="#"><i class="fa fa-heart"></i> Add to Wishlist</a></li>
<li class="addcart"><a href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
 
@Html.Partial("_footer")
</div>
 
 
    <script src="~/js/jquery-1.11.1.min.js"></script> 
    <script src="~/js/jquery-migrate-1.2.1.js"></script> 
    <script src="~/js/bootstrap.min.js"></script> 
    <script src="~/js/jquery.bxslider.min.js"></script> 
    <script src="~/js/jquery.prettyPhoto.js"></script> 
    <script src="~/js/custom.js"></script> 
</body>

<!-- Mirrored from html.crunchpress.com/fashion/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 May 2016 04:24:18 GMT -->
</html>

