@{
    ViewBag.Title = "Catageries";
}

<!doctype html>
<html lang="en" dir="ltr" class="no-js">

<!-- Mirrored from html.crunchpress.com/fashion/products-cats.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 May 2016 04:32:01 GMT -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fashion Theme Responsive">
<meta name="keywords" content="Fashion, HTML5 Theme,CSS3 Animation,JavaScript, Crunch Press">
<meta name="author" content="Crunch Press">
<link rel="shortcut icon" href="images/fashopn.html">
<title>Fashion Theme Responsive</title>
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/color.css" rel="stylesheet">
<link href="~/css/bootstrap.css" rel="stylesheet">
<link href="~/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/jquery.bxslider.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
<![endif]-->
</head>
@*<script type="text/javascript"> abc(){ 
}  </script>*@
<script type="text/javascript"> window.history.forward(); function noBack() { window.history.forward(); }</script>
<body onload="        noBack();" onpageshow="        if (event.persisted) noBack();" onunload="">
    

        <div class="wrapper">

            @Html.Partial("_header")


            <section class="main-slider inner-slider">
                <div class="slider">
                    <ul class="mslider-inner">
                        <li><img src="~/images/si1.jpg" alt="Fashion Responsive" /></li>
                        <li><img src="~/images/si2.jpg" alt="Fashion Responsive" /></li>
                        <li><img src="~/images/si3.jpg" alt="Fashion Responsive" /></li>
                    </ul>
                </div>
                <div class="main-slider-curve curve-img"></div>
            </section>


            <section class="products grid-view">
                <div class="container">
                    <div>
                        <div class="col-lg-12 col-md-12">
                            <h2 class="main-title">Products Category View</h2>
                        </div>
                        <div class="pro-cat">
                            <h3>Woman jeans</h3>
                            <ul class="pro-grid pro-cat-slider row">
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro1.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro2.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro3.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro4.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro5.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro6.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro7.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro8.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                       
                        <div class="pro-cat">
                            <h3>Woman Shirts</h3>
                            <ul class="pro-grid pro-cat-slider row">
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro21.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro22.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro23.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro20.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro25.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro26.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro27.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                                <p>
                                                    <a href="#">Add to Compare</a><br>
                                                    <a href="#">Add to Wishlist</a>
                                                </p>
                                            </div>
                                            <img src="~/images/pro/pro28.jpg" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">Product Name</a></h3>
                                        <strong>$55</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                         
                <div class="pro-cat">
                    <h3>Man Jeans</h3>
                    <ul class="pro-grid pro-cat-slider row">
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/jem1.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/jem2.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/jem9.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/jem4.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/jem5.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/jem6.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/jem7.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/jem8.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pro-cat">
                    <h3>Man Shirts</h3>
                    <ul class="pro-grid pro-cat-slider row">
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/shirtM1.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/shirtM9.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/shirtM3.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/shirtM4.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/shirtM5.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/shirtM6.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/shirtM10.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="pro-box">
                                <div class="pro-img">
                                    <div class="pro-hover">
                                        <a href="#" class="pcart"><i class="fa fa-shopping-cart"></i></a>
                                        <p>
                                            <a href="#">Add to Compare</a><br>
                                            <a href="#">Add to Wishlist</a>
                                        </p>
                                    </div>
                                    <img src="~/images/pro/shirtM8.jpg" alt="">
                                </div>
                                <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                <h3><a href="#">Product Name</a></h3>
                                <strong>$55</strong>
                            </div>
                        </li>
                    </ul>
                    <div class="pro-cat">
                        <h3>New arrival</h3>
                        <ul class="pro-grid pro-cat-slider row">
                            @foreach (var v in Model)
                            {
                                //if (v.name == null)
                                //{
                                //    continue;
                                //}
                                
                                <li class="col-lg-3">
                                    <div class="pro-box">
                                        <div class="pro-img">
                                            <div class="pro-hover">
                                                
                                                    <a href="~/Shop/cart/@v.Id" class="pcart"><i class="fa fa-shopping-cart" @*onclick="abc"*@></i></a>
                                                    <p>
                                                        <a href="#">Add to Compare</a><br>
                                                        <a href="#">Add to Wishlist</a>
                                                    </p>
</div>
                                            <img width="245" height="345" src="~/Images/Posts/@v.path" alt="">
                                        </div>
                                        <div class="pro-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></div>
                                        <h3><a href="#">@v.description</a></h3>
                                        <strong>@v.name</strong>
                                        <div class="pull-right mr10">
                                            <select id="user-role" name="quan">
                                                
                                                  
                                                    <option value="1" selected="selected">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                               
                                            </select>
                                        </div>
                                    

                                     </div>
                                </li>
                            }
                        </ul>
                    </div>

                </div>

        </div>

        </div>

        </section>

        @Html.Partial("_footer")
        </div>


        <script src="~/js/jquery-1.11.1.min.js"></script>
        <script src="~/js/jquery-migrate-1.2.1.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.bxslider.min.js"></script>
        <script src="~/js/jquery.prettyPhoto.js"></script>
        <script src="~/js/custom.js"></script>
    </body>
    <!-- Mirrored from html.crunchpress.com/fashion/products-cats.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 May 2016 04:32:05 GMT -->
</html>

