@{
    ViewBag.Title = "FAQs";
}

<!doctype html>
<html lang="en" dir="ltr" class="no-js">

<!-- Mirrored from html.crunchpress.com/fashion/faq.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 May 2016 04:26:26 GMT -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fashion Theme Responsive">
<meta name="keywords" content="Fashion, HTML5 Theme,CSS3 Animation,JavaScript, Crunch Press">
<meta name="author" content="Crunch Press">
<link rel="shortcut icon" href="images/fashopn.html">
<title>Fashion Theme Responsive</title>
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/color.css" rel="stylesheet">
<link href="~/css/bootstrap.css" rel="stylesheet">
<link href="~/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/jquery.bxslider.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
 
<div class="wrapper">
 
@Html.Partial("_header")
 
 
<section class="main-slider inner-slider">
<div class="slider">
<ul class="mslider-inner">
<li><img src="images/si1.jpg" alt="Fashion Responsive"/></li>
<li><img src="images/si2.jpg" alt="Fashion Responsive"/></li>
<li><img src="images/si3.jpg" alt="Fashion Responsive"/></li>
</ul>
</div>
<div class="main-slider-curve curve-img"></div>
</section>
 
 
<section class="faq-page">
<div class="container">
<div class="row">
<div class="col-lg-12">
<h2 class="main-title">FAQ</h2>
</div>
</div>
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-9">
<div class="faq-container panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Nunc a dui a augue tristique convallis at quis mi. </a> </h3>
</div>
<div id="collapseOne" class="panel-collapse collapse in">
<div class="panel-body">
<p>Vestibulum vitae imperdiet neque, quis eleifend mi. In in accumsan lacus. Vestibulum blandit feugiat porta. Etiam malesuada felis varius diam tempus, nec cursus urna sollicitudin. Vivamus aliquet, metus in elementum consequat, tellus odio bibendum elit, eget blandit elit risus ac nulla. Nullam ultricies libero sollicitudin, luctus sem non, aliquam nisi. Nam interdum imperdiet ligula, ac varius risus euismod in. Quisque in consectetur felis, sed laoreet orci. Suspendisse potenti. In a sapien eu est fringilla vulputate. Maecenas et justo in leo vestibulum tempor. Sed fermentum metus eget tempus ultrices. Duis pharetra, lacus nec ornare ornare, nisl quam fringilla diam.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo"> Mauris mattis nisi vitae tellus pellentesque accumsan </a> </h3>
</div>
<div id="collapseTwo" class="panel-collapse collapse">
<div class="panel-body">
<p>Vestibulum vitae imperdiet neque, quis eleifend mi. In in accumsan lacus. Vestibulum blandit feugiat porta. Etiam malesuada felis varius diam tempus, nec cursus urna sollicitudin. Vivamus aliquet, metus in elementum consequat, tellus odio bibendum elit, eget blandit elit risus ac nulla. Nullam ultricies libero sollicitudin, luctus sem non, aliquam nisi. Nam interdum imperdiet ligula, ac varius risus euismod in. Quisque in consectetur felis, sed laoreet orci. Suspendisse potenti. In a sapien eu est fringilla vulputate. Maecenas et justo in leo vestibulum tempor. Sed fermentum metus eget tempus ultrices. Duis pharetra, lacus nec ornare ornare, nisl quam fringilla diam.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree"> Ut eleifend lacus et orci iaculis, et iaculis purus aliquet </a> </h3>
</div>
<div id="collapseThree" class="panel-collapse collapse">
<div class="panel-body">
<p>Vestibulum vitae imperdiet neque, quis eleifend mi. In in accumsan lacus. Vestibulum blandit feugiat porta. Etiam malesuada felis varius diam tempus, nec cursus urna sollicitudin. Vivamus aliquet, metus in elementum consequat, tellus odio bibendum elit, eget blandit elit risus ac nulla. Nullam ultricies libero sollicitudin, luctus sem non, aliquam nisi. Nam interdum imperdiet ligula, ac varius risus euismod in. Quisque in consectetur felis, sed laoreet orci. Suspendisse potenti. In a sapien eu est fringilla vulputate. Maecenas et justo in leo vestibulum tempor. Sed fermentum metus eget tempus ultrices. Duis pharetra, lacus nec ornare ornare, nisl quam fringilla diam.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFour"> Mauris mattis nisi vitae tellus pellentesque accumsan </a> </h3>
</div>
<div id="collapseFour" class="panel-collapse collapse">
<div class="panel-body">
<p>Vestibulum vitae imperdiet neque, quis eleifend mi. In in accumsan lacus. Vestibulum blandit feugiat porta. Etiam malesuada felis varius diam tempus, nec cursus urna sollicitudin. Vivamus aliquet, metus in elementum consequat, tellus odio bibendum elit, eget blandit elit risus ac nulla. Nullam ultricies libero sollicitudin, luctus sem non, aliquam nisi. Nam interdum imperdiet ligula, ac varius risus euismod in. Quisque in consectetur felis, sed laoreet orci. Suspendisse potenti. In a sapien eu est fringilla vulputate. Maecenas et justo in leo vestibulum tempor. Sed fermentum metus eget tempus ultrices. Duis pharetra, lacus nec ornare ornare, nisl quam fringilla diam.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFive"> Cras rhoncus nunc et elit cursus gravida. </a> </h3>
</div>
<div id="collapseFive" class="panel-collapse collapse">
<div class="panel-body">
<p>Vestibulum vitae imperdiet neque, quis eleifend mi. In in accumsan lacus. Vestibulum blandit feugiat porta. Etiam malesuada felis varius diam tempus, nec cursus urna sollicitudin. Vivamus aliquet, metus in elementum consequat, tellus odio bibendum elit, eget blandit elit risus ac nulla. Nullam ultricies libero sollicitudin, luctus sem non, aliquam nisi. Nam interdum imperdiet ligula, ac varius risus euismod in. Quisque in consectetur felis, sed laoreet orci. Suspendisse potenti. In a sapien eu est fringilla vulputate. Maecenas et justo in leo vestibulum tempor. Sed fermentum metus eget tempus ultrices. Duis pharetra, lacus nec ornare ornare, nisl quam fringilla diam.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSix"> Donec non felis a ligula eleifend gravida. </a> </h3>
</div>
<div id="collapseSix" class="panel-collapse collapse">
<div class="panel-body">
<p>Vestibulum vitae imperdiet neque, quis eleifend mi. In in accumsan lacus. Vestibulum blandit feugiat porta. Etiam malesuada felis varius diam tempus, nec cursus urna sollicitudin. Vivamus aliquet, metus in elementum consequat, tellus odio bibendum elit, eget blandit elit risus ac nulla. Nullam ultricies libero sollicitudin, luctus sem non, aliquam nisi. Nam interdum imperdiet ligula, ac varius risus euismod in. Quisque in consectetur felis, sed laoreet orci. Suspendisse potenti. In a sapien eu est fringilla vulputate. Maecenas et justo in leo vestibulum tempor. Sed fermentum metus eget tempus ultrices. Duis pharetra, lacus nec ornare ornare, nisl quam fringilla diam.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSeven"> Vivamus at libero a velit vehicula interdum a a nibh. </a> </h3>
</div>
<div id="collapseSeven" class="panel-collapse collapse">
<div class="panel-body">
<p>Vestibulum vitae imperdiet neque, quis eleifend mi. In in accumsan lacus. Vestibulum blandit feugiat porta. Etiam malesuada felis varius diam tempus, nec cursus urna sollicitudin. Vivamus aliquet, metus in elementum consequat, tellus odio bibendum elit, eget blandit elit risus ac nulla. Nullam ultricies libero sollicitudin, luctus sem non, aliquam nisi. Nam interdum imperdiet ligula, ac varius risus euismod in. Quisque in consectetur felis, sed laoreet orci. Suspendisse potenti. In a sapien eu est fringilla vulputate. Maecenas et justo in leo vestibulum tempor. Sed fermentum metus eget tempus ultrices. Duis pharetra, lacus nec ornare ornare, nisl quam fringilla diam.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseEight"> Integer viverra nulla sit amet enim ornare fermentum. </a> </h3>
</div>
<div id="collapseEight" class="panel-collapse collapse">
<div class="panel-body">
<p>Vestibulum vitae imperdiet neque, quis eleifend mi. In in accumsan lacus. Vestibulum blandit feugiat porta. Etiam malesuada felis varius diam tempus, nec cursus urna sollicitudin. Vivamus aliquet, metus in elementum consequat, tellus odio bibendum elit, eget blandit elit risus ac nulla. Nullam ultricies libero sollicitudin, luctus sem non, aliquam nisi. Nam interdum imperdiet ligula, ac varius risus euismod in. Quisque in consectetur felis, sed laoreet orci. Suspendisse potenti. In a sapien eu est fringilla vulputate. Maecenas et justo in leo vestibulum tempor. Sed fermentum metus eget tempus ultrices. Duis pharetra, lacus nec ornare ornare, nisl quam fringilla diam.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseNine"> Cras viverra ante et sollicitudin sagittis. </a> </h3>
</div>
<div id="collapseNine" class="panel-collapse collapse">
<div class="panel-body">
<p>Vestibulum vitae imperdiet neque, quis eleifend mi. In in accumsan lacus. Vestibulum blandit feugiat porta. Etiam malesuada felis varius diam tempus, nec cursus urna sollicitudin. Vivamus aliquet, metus in elementum consequat, tellus odio bibendum elit, eget blandit elit risus ac nulla. Nullam ultricies libero sollicitudin, luctus sem non, aliquam nisi. Nam interdum imperdiet ligula, ac varius risus euismod in. Quisque in consectetur felis, sed laoreet orci. Suspendisse potenti. In a sapien eu est fringilla vulputate. Maecenas et justo in leo vestibulum tempor. Sed fermentum metus eget tempus ultrices. Duis pharetra, lacus nec ornare ornare, nisl quam fringilla diam.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTen"> Fusce vel est et sapien tempor auctor. </a> </h3>
</div>
<div id="collapseTen" class="panel-collapse collapse">
<div class="panel-body">
<p>Vestibulum vitae imperdiet neque, quis eleifend mi. In in accumsan lacus. Vestibulum blandit feugiat porta. Etiam malesuada felis varius diam tempus, nec cursus urna sollicitudin. Vivamus aliquet, metus in elementum consequat, tellus odio bibendum elit, eget blandit elit risus ac nulla. Nullam ultricies libero sollicitudin, luctus sem non, aliquam nisi. Nam interdum imperdiet ligula, ac varius risus euismod in. Quisque in consectetur felis, sed laoreet orci. Suspendisse potenti. In a sapien eu est fringilla vulputate. Maecenas et justo in leo vestibulum tempor. Sed fermentum metus eget tempus ultrices. Duis pharetra, lacus nec ornare ornare, nisl quam fringilla diam.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseEle"> Nullam volutpat risus quis luctus suscipit. </a> </h3>
</div>
<div id="collapseEle" class="panel-collapse collapse">
<div class="panel-body">
<p>Vestibulum vitae imperdiet neque, quis eleifend mi. In in accumsan lacus. Vestibulum blandit feugiat porta. Etiam malesuada felis varius diam tempus, nec cursus urna sollicitudin. Vivamus aliquet, metus in elementum consequat, tellus odio bibendum elit, eget blandit elit risus ac nulla. Nullam ultricies libero sollicitudin, luctus sem non, aliquam nisi. Nam interdum imperdiet ligula, ac varius risus euismod in. Quisque in consectetur felis, sed laoreet orci. Suspendisse potenti. In a sapien eu est fringilla vulputate. Maecenas et justo in leo vestibulum tempor. Sed fermentum metus eget tempus ultrices. Duis pharetra, lacus nec ornare ornare, nisl quam fringilla diam.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"> <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTw"> Aliquam at lorem tincidunt, mollis est non, hendrerit sem. </a> </h3>
</div>
<div id="collapseTw" class="panel-collapse collapse">
<div class="panel-body">
<p>Vestibulum vitae imperdiet neque, quis eleifend mi. In in accumsan lacus. Vestibulum blandit feugiat porta. Etiam malesuada felis varius diam tempus, nec cursus urna sollicitudin. Vivamus aliquet, metus in elementum consequat, tellus odio bibendum elit, eget blandit elit risus ac nulla. Nullam ultricies libero sollicitudin, luctus sem non, aliquam nisi. Nam interdum imperdiet ligula, ac varius risus euismod in. Quisque in consectetur felis, sed laoreet orci. Suspendisse potenti. In a sapien eu est fringilla vulputate. Maecenas et justo in leo vestibulum tempor. Sed fermentum metus eget tempus ultrices. Duis pharetra, lacus nec ornare ornare, nisl quam fringilla diam.</p>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-3 sidebar">
 
<div class="category widget">
<h3>Category</h3>
<ul>
<li><a href="#"> Casual Wear </a> <span>10</span></li>
<li><a href="#"> Jeans</a> <span>22</span></li>
<li><a href="#"> Tops</a> <span>20</span></li>
<li><a href="#"> Jackets</a> <span>18</span></li>
<li><a href="#">Night Wear</a> <span>26</span></li>
<li><a href="#">Party Wear</a> <span>28</span></li>
</ul>
</div>
<div class="featured widget">
<h3>Featured Items</h3>
<ul>
<li class="fp-item"> <img src="images/fp3.jpg" alt="">
<h4>Product Name</h4>
<p>Maecenas laoreet lectus est, eget ultricies eros. </p>
<a href="#">Details</a> </li>
<li class="fp-item"> <img src="images/fp1.jpg" alt="">
<h4>Product Name</h4>
<p>Maecenas laoreet lectus est, eget ultricies eros. </p>
<a href="#">Details</a> </li>
<li class="fp-item"> <img src="images/fp2.jpg" alt="">
<h4>Product Name</h4>
<p>Maecenas laoreet lectus est, eget ultricies eros. </p>
<a href="#">Details</a> </li>
</ul>
</div>
<div class="sidebanner widget"> <img src="images/banner.jpg" alt=""> </div>
</div>
</div>
</div>
</section>
 
@Html.Partial("_footer")
</div>
 
 
<script src="js/jquery-1.11.1.min.js"></script> 
<script src="js/jquery-migrate-1.2.1.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.bxslider.min.js"></script> 
<script src="js/jquery.prettyPhoto.js"></script> 
<script src="js/custom.js"></script> 
</body>

<!-- Mirrored from html.crunchpress.com/fashion/faq.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 May 2016 04:26:29 GMT -->
</html>

