@{
    ViewBag.Title = "Testim";
}

<!doctype html>
<html lang="en" dir="ltr" class="no-js">

<!-- Mirrored from html.crunchpress.com/fashion/testimonials.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 May 2016 04:26:29 GMT -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fashion Theme Responsive">
<meta name="keywords" content="Fashion, HTML5 Theme,CSS3 Animation,JavaScript, Crunch Press">
<meta name="author" content="Crunch Press">
<link rel="shortcut icon" href="images/fashopn.html">
<title>Fashion Theme Responsive</title>
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/color.css" rel="stylesheet">
<link href="~/css/bootstrap.css" rel="stylesheet">
<link href="~/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/jquery.bxslider.css" rel="stylesheet">
<link href="~/css/content_slider_style.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
 
<div class="wrapper">
 
@Html.Partial("_header")
 
 
<section class="main-slider inner-slider">
<div class="slider">
<ul class="mslider-inner">
<li><img src="~/images/si1.jpg" alt="Fashion Responsive"/></li>
<li><img src="~/images/si2.jpg" alt="Fashion Responsive"/></li>
<li><img src="~/images/si3.jpg" alt="Fashion Responsive"/></li>
</ul>
</div>
<div class="main-slider-curve curve-img"></div>
</section>
 
 
<section class="blog-page">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12">
<h2 class="main-title">Testimonials</h2>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="test-wrap">
<ul class="testim-slider">
<li>
<i class="fa fa-quote-left"></i>
<p>Maecenas mi libero, rutrum in posuere id, gravida non lorem. Aenean nec tellus vitae eros mattis auctor non et quam. Mauris rhoncus, nibh et blandit porta, tellus nulla bibendum orci, eu sodales ligula ante ut elit. Nunc interdum a urna vitae consequat. Sed porttitor arcu interdum, dignissim tortor sed, ornare justo. Aliquam quis molestie massa, eget sagittis urna. Nulla sagittis at ante et iaculis. Pellentesque facilisis sed tellus nec pharetra. </p>
<img src="~/images/timg1.jpg" alt="">
<h3>Rose John</h3>
<strong>Joint Chairperson</strong>
</li>
<li>
<i class="fa fa-quote-left"></i>
<p>Nulla volutpat elit a est viverra, id dignissim magna egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis fringilla, mauris vel cursus venenatis, lacus urna dapibus dolor, sollicitudin lacinia nisi ante quis nibh. Aliquam eu lectus dolor. Aliquam faucibus rhoncus nulla, nec auctor ligula molestie viverra. Nullam commodo metus ut ligula posuere, id imperdiet metus pharetra. Donec id sapien a orci euismod bibendum. Aliquam erat volutpat. </p>
<img src="~/images/timg2.jpg" alt="">
<h3>Ben John</h3>
<strong>Joint Chairperson</strong>
</li>
<li>
<i class="fa fa-quote-left"></i>
<p>Nulla volutpat elit a est viverra, id dignissim magna egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis fringilla, mauris vel cursus venenatis, lacus urna dapibus dolor, sollicitudin lacinia nisi ante quis nibh. Aliquam eu lectus dolor. Aliquam faucibus rhoncus nulla, nec auctor ligula molestie viverra. Nullam commodo metus ut ligula posuere, id imperdiet metus pharetra. Donec id sapien a orci euismod bibendum. Aliquam erat volutpat. </p>
<img src="~/images/timg3.jpg" alt="">
<h3>Amanda John</h3>
<strong>Joint Chairperson</strong>
</li>
<li>
<i class="fa fa-quote-left"></i>
<p>Nulla volutpat elit a est viverra, id dignissim magna egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis fringilla, mauris vel cursus venenatis, lacus urna dapibus dolor, sollicitudin lacinia nisi ante quis nibh. Aliquam eu lectus dolor. Aliquam faucibus rhoncus nulla, nec auctor ligula molestie viverra. Nullam commodo metus ut ligula posuere, id imperdiet metus pharetra. Donec id sapien a orci euismod bibendum. Aliquam erat volutpat. </p>
<img src="~/images/timg4.jpg" alt="">
<h3>Giselle John</h3>
<strong>Joint Chairperson</strong>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="testimonials-bg">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="content_slider_wrapper" id="slider1">
<div class="circle_slider_text_wrapper" id="sw0" style="display: none;">
 
<div class="content_slider_text_block_wrap">
 
<h3>Amanda McHilly</h3>
<br/>
<span>Manager at Crunch Fashion</span> <br/>
<br/>
<p>Integer id urna nisl. Vestibulum id vestibulum tellus. Fusce consequat nulla ut nisi auctor rhoncus. Cras accumsan velit vitae mi venenatis, in pellentesque velit pretium. In hac habitasse platea dictumst. Quisque tempor risus leo. Donec et facilisis lectus, eget fermentum ligula.</p>
</div>
<div class="clear"></div>
</div>
<div class="circle_slider_text_wrapper" id="sw1" style="display: none;">
 
<div class="content_slider_text_block_wrap">
 
<h3>Ben Gillenhall</h3>
<br/>
<span>Manager at Crunch Fashion</span> <br/>
<br/>
<p>Integer id urna nisl. Vestibulum id vestibulum tellus. Fusce consequat nulla ut nisi auctor rhoncus. Cras accumsan velit vitae mi venenatis, in pellentesque velit pretium. In hac habitasse platea dictumst. Quisque tempor risus leo. Donec et facilisis lectus, eget fermentum ligula.</p>
</div>
<div class="clear"></div>
</div>
<div class="circle_slider_text_wrapper" id="sw2" style="display: none;">
 
<div class="content_slider_text_block_wrap">
 
<h3>Giselle Smithsonian</h3>
<br/>
<span>Manager at Crunch Fashion</span> <br/>
<br/>
<p>Integer id urna nisl. Vestibulum id vestibulum tellus. Fusce consequat nulla ut nisi auctor rhoncus. Cras accumsan velit vitae mi venenatis, in pellentesque velit pretium. In hac habitasse platea dictumst. Quisque tempor risus leo. Donec et facilisis lectus, eget fermentum ligula.</p>
</div>
<div class="clear"></div>
</div>
<div class="circle_slider_text_wrapper" id="sw3" style="display: none;">
 
<div class="content_slider_text_block_wrap">
 
<h3>Rafael Munez</h3>
<br/>
<span>Manager at Crunch Fashion</span> <br/>
<br/>
<p>Integer id urna nisl. Vestibulum id vestibulum tellus. Fusce consequat nulla ut nisi auctor rhoncus. Cras accumsan velit vitae mi venenatis, in pellentesque velit pretium. In hac habitasse platea dictumst. Quisque tempor risus leo. Donec et facilisis lectus, eget fermentum ligula.</p>
</div>
<div class="clear"></div>
</div>
<div class="circle_slider_text_wrapper" id="sw4" style="display: none;">
 
<div class="content_slider_text_block_wrap">
 
<h3>Brenda Wolsh</h3>
<br/>
<span>Manager at Crunch Fashion</span> <br/>
<br/>
<p>Integer id urna nisl. Vestibulum id vestibulum tellus. Fusce consequat nulla ut nisi auctor rhoncus. Cras accumsan velit vitae mi venenatis, in pellentesque velit pretium. In hac habitasse platea dictumst. Quisque tempor risus leo. Donec et facilisis lectus, eget fermentum ligula.</p>
</div>
<div class="clear"></div>
</div>
<div class="circle_slider_text_wrapper" id="sw5" style="display: none;">
 
<div class="content_slider_text_block_wrap">
 
<h3>Bradley Cooper</h3>
<br/>
<span>Manager at Crunch Fashion</span> <br/>
<br/>
<p>Integer id urna nisl. Vestibulum id vestibulum tellus. Fusce consequat nulla ut nisi auctor rhoncus. Cras accumsan velit vitae mi venenatis, in pellentesque velit pretium. In hac habitasse platea dictumst. Quisque tempor risus leo. Donec et facilisis lectus, eget fermentum ligula.</p>
</div>
<div class="clear"></div>
</div>
<div class="circle_slider_text_wrapper" id="sw6" style="display: none;">
 
<div class="content_slider_text_block_wrap">
 
<h3>Gillian Aston-Martin</h3>
<br/>
<span>Manager at Crunch Fashion</span> <br/>
<br/>
<p>Integer id urna nisl. Vestibulum id vestibulum tellus. Fusce consequat nulla ut nisi auctor rhoncus. Cras accumsan velit vitae mi venenatis, in pellentesque velit pretium. In hac habitasse platea dictumst. Quisque tempor risus leo. Donec et facilisis lectus, eget fermentum ligula.</p>
</div>
<div class="clear"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
 
@Html.Partial("_footer")
</div>
 
 
<script src="~/js/jquery-1.11.1.min.js"></script> 
<script src="~/js/jquery-migrate-1.2.1.js"></script> 
<script src="~/js/bootstrap.min.js"></script> 
<script src="~/js/jquery.bxslider.min.js"></script> 
<script src="~/js/jquery.content_slider.min.js" type="text/javascript"></script>
<script src="~/js/jquery.mousewheel.js" type="text/javascript"></script>
<script type="text/javascript">
	(function($){
		$(document).ready(function() {
			var image_array = new Array();
			image_array = [
				{image: 'images/timg1.jpg', link_url: 'images/timg1.jpg', link_rel: 'prettyPhoto'},
				{image: 'images/timg2.jpg', link_url: 'images/timg2.jpg', link_rel: 'prettyPhoto'},
				{image: 'images/timg3.jpg', link_url: 'images/timg3.jpg', link_rel: 'prettyPhoto'},
				{image: 'images/timg4.jpg', link_url: 'images/timg4.jpg', link_rel: 'prettyPhoto'},
				{image: 'images/timg5.jpg', link_url: 'images/timg5.jpg', link_rel: 'prettyPhoto'},
				{image: 'images/timg6.jpg', link_url: 'images/timg6.jpg', link_rel: 'prettyPhoto'},
				{image: 'images/timg7.jpg', link_url: 'images/timg7.jpg', link_rel: 'prettyPhoto'},
			];
			$('#slider1').content_slider({		// bind plugin to div id="slider1"
				map : image_array,				// pointer to the image map
				max_shown_items: 7,				// number of visible circles
				hv_switch: 0,					// 0 = horizontal slider, 1 = vertical
				active_item: 0,					// layer that will be shown at start, 0=first, 1=second...
				wrapper_text_max_height: 450,	// height of widget, displayed in pixels
				middle_click: 1,				// when main circle is clicked: 1 = slider will go to the previous layer/circle, 2 = to the next
				under_600_max_height: 1200,		// if resolution is below 600 px, set max height of content
				border_radius:	-1,				// -1 = circle, 0 and other = radius
				automatic_height_resize: 1,
				border_on_off: 0,
				allow_shadow: 0
			});
		});
	})(jQuery);
</script>
<script src="~/js/custom.js"></script> 
</body>

<!-- Mirrored from html.crunchpress.com/fashion/testimonials.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 May 2016 04:26:32 GMT -->
</html>

