@{
    ViewBag.Title = "Aboutus";
}

<!doctype html>
<html lang="en" dir="ltr" class="no-js">

<!-- Mirrored from html.crunchpress.com/fashion/aboutus.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 May 2016 04:25:59 GMT -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fashion Theme Responsive">
<meta name="keywords" content="Fashion, HTML5 Theme,CSS3 Animation,JavaScript, Crunch Press">
<meta name="author" content="Crunch Press">
<link rel="shortcut icon" href="images/fashopn.html">
<title>Fashion Theme Responsive</title>
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/color.css" rel="stylesheet">
<link href="~/css/bootstrap.css" rel="stylesheet">
<link href="~/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/jquery.bxslider.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
 
<div class="wrapper">
 
@Html.Partial("_header")
 
 
<section class="main-slider inner-slider">
<div class="slider">
<ul class="mslider-inner">
<li><img src="~/images/si1.jpg" alt="Fashion Responsive"/></li>
<li><img src="~/images/si2.jpg" alt="Fashion Responsive"/></li>
<li><img src="~/images/si3.jpg" alt="Fashion Responsive"/></li>
</ul>
</div>
<div class="main-slider-curve curve-img"></div>
</section>
 
 
<section class="about">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12">
<h2 class="main-title">Our Story</h2>
<h4 class="sub-title">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</h4>
</div>
</div>
 
<div class="row">
<div class="col-lg-12 col-md-12">
<div class="about-main">
<p><img src="~/images/about-pic.jpg" alt=""></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu orci, tempus at placerat id, elementum ac turpis. Nullam eu lacus in dui blandit lobortis. Fusce iaculis lacinia metus id varius. Sed tristique in urna nec ullamcorper. Integer egestas accumsan elit, non pulvinar lorem pulvinar vitae. Suspendisse sed enim cursus, aliquam ante ac, vulputate sem. Proin mattis elit consequat leo eleifend, sit amet ornare elit suscipit. Nam porta congue ante a molestie. Morbi ut condimentum dui. Nullam fringilla vel nisl et sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu orci, tempus at placerat id, elementum ac turpis. Nullam eu lacus in dui blandit lobortis. Integer egestas accumsan elit, non pulvinar lorem pulvinar vitae. Fusce iaculis lacinia metus id varius. Sed tristique in urna nec ullamcorper. Integer egestas accumsan elit, non pulvinar lorem pulvinar vitae. Suspendisse sed enim cursus, aliquam ante ac, vulputate sem. Proin mattis elit consequat leo eleifend, sit amet ornare elit suscipit. Nam porta congue ante a molestie. Fusce iaculis lacinia metus id varius. Sed tristique in urna nec ullamcorper. Integer egestas accumsan elit, non pulvinar lorem pulvinar vitae. Suspendisse sed enim cursus, aliquam ante ac, vulputate sem. cursus, aliquam ante ac, vulputate sem. </p>
</div>
</div>
</div>
 
<div class="gap-45"></div>
 
<div class="row">
<div class="col-lg-12 col-md-12 full-tabs">
 
<ul class="nav nav-tabs">
<li><a href="#tab1" data-toggle="tab">History</a></li>
<li><a href="#tab2" data-toggle="tab">Who We Are?</a></li>
<li><a href="#tab3" data-toggle="tab">What We Do?</a></li>
<li><a href="#tab4" data-toggle="tab">Our Mission</a></li>
</ul>
 
<div class="tab-content">
<div class="tab-pane active" id="tab1">
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu orci, tempus at placerat id, elementum ac turpis. Nullam eu lacus in dui blandit lobortis. Fusce iaculis lacinia metus id varius. Sed tristique in urna nec ullamcorper. Integer egestas accumsan elit, non pulvinar lorem pulvinar vitae. Suspendisse sed enim cursus, aliquam ante ac, vulputate sem. Proin mattis elit consequat leo eleifend.</p>
<ul class="flist">
<li> Nostrud exercitation ullamco laboris.</li>
<li> Sed malesuada libero id mattis ultrices. </li>
<li> Duis pretium pharetra lacus quis interdum. </li>
<li> Quisque viverra neque non lobortis commodo. </li>
</ul>
</div>
<div class="tab-pane" id="tab2">
<p> Pellentesque arcu orci, tempus at placerat id, elementum ac turpis. Nullam eu lacus in dui blandit lobortis. Fusce iaculis lacinia metus id varius. Sed tristique in urna nec ullamcorper. Integer egestas accumsan elit, non pulvinar lorem pulvinar vitae. Pellentesque arcu orci, tempus at placerat id, elementum ac turpis. Nullam eu lacus in dui blandit lobortis. Fusce iaculis lacinia metus id varius. Sed tristique in urna nec ullamcorper. Integer egestas accumsan elit, non pulvinar lorem pulvinar vitae. </p>
<ul class="flist">
<li> Nostrud exercitation ullamco laboris.</li>
<li> Sed malesuada libero id mattis ultrices. </li>
<li> Duis pretium pharetra lacus quis interdum. </li>
<li> Quisque viverra neque non lobortis commodo. </li>
</ul>
</div>
<div class="tab-pane" id="tab3">
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu orci, tempus at placerat id, elementum ac turpis. Nullam eu lacus in dui blandit lobortis. Fusce iaculis lacinia metus id varius. Sed tristique in urna nec ullamcorper. Integer egestas accumsan elit, non pulvinar lorem pulvinar vitae. Suspendisse sed enim cursus, aliquam ante ac, vulputate sem. Proin mattis elit consequat leo eleifend.</p>
<ul class="flist">
<li> Nostrud exercitation ullamco laboris.</li>
<li> Sed malesuada libero id mattis ultrices. </li>
<li> Duis pretium pharetra lacus quis interdum. </li>
<li> Quisque viverra neque non lobortis commodo. </li>
</ul>
</div>
<div class="tab-pane" id="tab4">
<p> Pellentesque arcu orci, tempus at placerat id, elementum ac turpis. Nullam eu lacus in dui blandit lobortis. Fusce iaculis lacinia metus id varius. Sed tristique in urna nec ullamcorper. Integer egestas accumsan elit, non pulvinar lorem pulvinar vitae. Pellentesque arcu orci, tempus at placerat id, elementum ac turpis. Nullam eu lacus in dui blandit lobortis. Fusce iaculis lacinia metus id varius. Sed tristique in urna nec ullamcorper. Integer egestas accumsan elit, non pulvinar lorem pulvinar vitae. </p>
<ul class="flist">
<li> Nostrud exercitation ullamco laboris.</li>
<li> Sed malesuada libero id mattis ultrices. </li>
<li> Duis pretium pharetra lacus quis interdum. </li>
<li> Quisque viverra neque non lobortis commodo. </li>
</ul>
</div>
</div>
</div>
</div>
 
<div class="experts">
<div class="row">
<div class="col-lg-12 col-md-12">
<h2 class="main-title">Meet Our Designers</h2>
</div>
</div>
<div class="row team gallery">
<div class="col-sm-3">
<ul class="team-w">
<li>
<div class="pro-holder2"> <img src="~/images/team-img1.png" alt=""/>
<div class="pro-overlay"></div>
<div class="pro-icon"> <span><a href="~/images/pro-large.jpg" data-rel="prettyPhoto[gallery1]"><i class="fa fa-search"></i></a> </span> <span><a href="#"><i class="fa fa-link"></i></a> </span> </div>
</div>
</li>
<li>
<h3><a href="#">Wahab raza</a></h3>
<span>Fashion Designer</span>
@*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu orci, tempus at placerat id elementum ac turpis.</p>*@
</li>
<li>
<div class="tsocial">
<ul>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-youtube"></i></a></li>
</ul>
</div>
</li>
</ul>
</div>
<div class="col-sm-3">
<ul class="team-w">
<li>
<div class="pro-holder2"> <img src="~/images/team-img2.png" alt=""/>
<div class="pro-overlay"></div>
<div class="pro-icon"> <span><a href="~/images/pro-large.jpg" data-rel="prettyPhoto[gallery1]"><i class="fa fa-search"></i></a> </span> <span><a href="#"><i class="fa fa-link"></i></a> </span> </div>
</div>
</li>
<li>
<h3><a href="#">Zeeshan</a></h3>
<span>Fashion Designer</span>
@*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu orci, tempus at placerat id elementum ac turpis.</p>*@
</li>
<li>
<div class="tsocial">
<ul>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-youtube"></i></a></li>
</ul>
</div>
</li>
</ul>
</div>
<div class="col-sm-3">
<ul class="team-w">
<li>
<div class="pro-holder2"> <img src="~/images/team-img3.png" alt=""/>
<div class="pro-overlay"></div>
<div class="pro-icon"> <span><a href="~/images/pro-large.jpg" data-rel="prettyPhoto[gallery1]"><i class="fa fa-search"></i></a> </span> <span><a href="#"><i class="fa fa-link"></i></a> </span> </div>
</div>
</li>
<li>
<h3><a href="#">Talha Tariq</a></h3>
<span>Fashion Designer</span>
@*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu orci, tempus at placerat id elementum ac turpis.</p>*@
</li>
<li>
<div class="tsocial">
<ul>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-youtube"></i></a></li>
</ul>
</div>
</li>
</ul>
</div>
<div class="col-sm-3">
<ul class="team-w">
<li>
<div class="pro-holder2"> <img src="~/images/team-img4.png" alt=""/>
<div class="pro-overlay"></div>
<div class="pro-icon"> <span><a href="~/images/pro-large.jpg" data-rel="prettyPhoto[gallery1]"><i class="fa fa-search"></i></a> </span> <span><a href="#"><i class="fa fa-link"></i></a> </span> </div>
</div>
</li>
<li>
<h3><a href="#">Shan Aslam</a></h3>
<span>Fashion Designer</span>
@*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu orci, tempus at placerat id elementum ac turpis.</p>*@
</li>
<li>
<div class="tsocial">
<ul>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-youtube"></i></a></li>
</ul>
</div>
</li>
</ul>
</div>
</div>
 
</div>
<div class="row">
<div class="partner-logos">
<h3>Our Partners</h3>
<ul class="logo-slider">
<li class="col-lg-2 col-sm-2"><img src="~/images/pl-01.png" alt=""/></li>
<li class="col-lg-2 col-sm-2"><img src="~/images/pl-02.png" alt=""/></li>
<li class="col-lg-2 col-sm-2"><img src="~/images/pl-03.png" alt=""/></li>
<li class="col-lg-2 col-sm-2"><img src="~/images/pl-04.png" alt=""/></li>
<li class="col-lg-2 col-sm-2"><img src="~/images/pl-05.png" alt=""/></li>
<li class="col-lg-2 col-sm-2"><img src="~/images/pl-06.png" alt=""/></li>
</ul>
</div>
</div>
 
</div>
</section>
 
@Html.Partial("_footer")
</div>
 
 
<script src="~/js/jquery-1.11.1.min.js"></script> 
<script src="~/js/jquery-migrate-1.2.1.js"></script> 
<script src="~/js/bootstrap.min.js"></script> 
<script src="~/js/jquery.bxslider.min.js"></script> 
<script src="~/js/jquery.prettyPhoto.js"></script> 
<script src="~/js/custom.js"></script> 
</body>

<!-- Mirrored from html.crunchpress.com/fashion/aboutus.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 May 2016 04:26:26 GMT -->
</html>
